@mixin flex($flexJ) {
  display: flex;
  justify-content: $flexJ;
  align-items: center;
}

header {
  @include flex(space-between);
  background-color: hotpink;
}

$dark: #282c34;
$light: #aec1e6;

.App {
  text-align: center;
  min-height: 100vh;

  .task {
    @include flex(center);
    padding: 2vmin;
  }

  .task > img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.App--dark {
  background-color: $dark;
  color: white;
}

.App--light {
  background-color: $light;
  color: black;
}
